{% extends "base.html" %}
{% block title %}BOOKS{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    {{super()}}
    <div class="card">
        <h5 class="card-header">ADD A BOOK</h5>
         <div class="card-body">
             <form method="POST">
                {{ form.hidden_tag() }}
                   <div class="form-group">
                        <label>{{ form.book_title.label }}</label>
                         {{ form.book_title(class="form-group")}}
                   </div>
                  <div class="form-group">
                    <label>{{ form.book_author.label }}</label>
                    {{ form.book_author(class="form-group") }}
                  </div>

                 <div class="form-group">
                    <label>{{ form.isbn_code.label }}</label>
                      {{ form.isbn_code(class="form-group")}}
                 </div>

                 <div class="form-group">
                    <label>{{ form.publisher.label }}</label>
                     {{ form.publisher(class="form-group") }}
                 </div>

                 <div class="form-group">
                    <label>{{ form.publication_date.label }}</label>
                     {{ form.publication_date(class="form-group") }}
                 </div>

                 <div class="form-group">
                    <label>{{ form.pages.label }}</label>
                     {{ form.pages(class="form-group") }}
                 </div>

                 <div class="form-group">
                    <label>{{ form.language.label }} </label>
                     {{ form.language(class="form-group") }}
                 </div>

                 <div class="form-group">
                    <label>{{ form.total_quantity.label }} </label>
                     {{ form.total_quantity(class="form-group") }}
                 </div>

                {{ form.submit(class="btn btn-primary") }}
             </form>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
{% endblock %}