{% extends "base.html" %}
{% block title %}MEMBER{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    {{super()}}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="card w-50" style="margin-left:25%;margin-top:1%;">
        <h5 class="card-header">ADD A MEMBER</h5>
         <div class="card-body">
             <form method="POST">
                {{ form.hidden_tag() }}

                 <div class="row mt-3">
                     <div class="col">
                           {{form.member_name.label}}
                           {{form.member_name(class="form-control")}}
                     </div>

                     <div class="col">
                           {{form.contact_no.label}}
                           {{form.contact_no(class="form-control")}}
                     </div>

                     <div class="col">
                          {{form.email.label}}
                          {{form.email(class="form-control")}}
                     </div>
                 </div>

                 <div class="row mt-3">

                     <div class="col">
                          {{form.dob.label}}
                          {{form.dob(class="form-control")}}
                     </div>

                     <div class="col"></div>

                      <div class="col"></div>
                 </div>


                 <div class="row mt-3">
                     <div class="col">
                          {{form.submit(class="btn btn-primary")}}
                     </div>
                 </div>

             </form>
        </div>
    </div>


{% endblock %}