{% extends "base.html" %}
{% block title %}BOOKS{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    {{super()}}
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-primary" href={{url_for('books_bp.add_book')}} role="button">ADD BOOK</a>
                </li>

            </ul>

            <form class="form-inline my-2 my-lg-0" method="POST" action="{{url_for('books_bp.result_show')}}">
                    {{form.search_title(class="form-control mr-1")}}
                    {{form.submit(class="btn btn-primary")}}
            </form>

        </div>
        </nav>
    </div>
    <div style="padding:15px">
        <table class="table table-striped">
            <thead>
                <tr class="row">
                    <th scope="col" class="col">Title</th>
                    <th scope="col" class="col">Author</th>
                    <th scope="col" class="col">Last</th>
                    <th scope="col" class="col-1">Issue</th>
                    <th scope="col" class="col-1">Edit</th>
                    <th scope="col" class="col-1">Delete</th>
                </tr>
            </thead>
            <tbody>
             {% for book in data %}
                <tr class="row">
                  <th class="col">{{book.title}}</th>
                  <td class="col">{{book.author}}</td>
                  <td class="col"></td>
                  <td class="col-1"><a href={{url_for('transactions_bp.add_transaction',id=book.id)}}><button class="btn btn-primary">Issue</button></a></td>
                  <td class="col-1"><a href={{url_for('books_bp.edit_book',id=book.id)}}><button class="btn btn-success">Edit</button></a></td>
                  <td class="col-1"><a href={{url_for('books_bp.delete_book',id=book.id)}}><button type="button" class="btn btn-danger">
                      Delete
                  </button></a></td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}