{% extends "base.html" %}
{% block title %}BOOKS{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    {{super()}}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}


    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-primary" href={{url_for('books_bp.add_book')}} role="button">Add Book</a>
                </li>

            </ul>

            <form class="form-inline my-2 my-lg-0" method="POST" action="{{url_for('books_bp.result_show')}}">
                    {{form.search_title(class="form-control mr-1")}}
                    {{form.submit(class="btn btn-primary")}}
            </form>

        </div>
        </nav>
    </div>


    {% if data %}
    <div class="card w-50" style="margin-left: 25%;margin-top: 1%;">
        <h5 class="card-header">Books</h5>
      <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                </tr>
            </thead>

             <tbody>
             {% for book in data %}
                <tr>
                  <th><a href="{{url_for('books_bp.get_book',id=book.id)}}">{{book.title}}</a></th>
                  <td>{{book.author}}</td>
                  <td>{{book.publisher}}</td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
      </div>
    </div>

    {% endif %}

    {% if not data %}
    <div class="alert alert-danger" role="alert">
    No books found !
    </div>
    {% endif %}

{% endblock %}