{% extends "base.html" %}
{% block title %}BOOKS{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    {{super()}}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="card w-50" style="margin-left:25%;margin-top:1%;">
        <h5 class="card-header">EDIT BOOK DETAILS</h5>
         <div class="card-body">
             <form method="POST">
                {{ form.hidden_tag() }}

                     <div class="row">
                         <div class="col">
                             {{ form.book_title.label(class="mr-4") }}
                             {{ form.book_title(class="form-control")}}
                         </div>
                         <div class="col">
                              {{ form.book_author.label(class="mr-4") }}
                              {{ form.book_author(class="form-control")}}
                         </div>

                         <div class="col">
                              {{ form.isbn_code.label(class="mr-4") }}
                              {{ form.isbn_code(class="form-control")}}
                         </div>

                     </div>


                    <div class="row  mt-3">
                        <div class="col">
                             {{ form.publisher.label(class="mr-4") }}
                             {{ form.publisher(class="form-control")}}
                        </div>

                        <div  class="col">
                             {{ form.publication_date.label(class="mr-4") }}
                             {{ form.publication_date(class="form-control")}}
                        </div>

                        <div  class="col">
                             {{ form.pages.label(class="mr-4") }}
                             {{ form.pages(class="form-control")}}
                        </div>
                    </div>

                    <div class="row  mt-3">
                        <div class="col">
                             {{ form.language.label(class="mr-4") }}
                             {{ form.language(class="form-control")}}
                        </div>

                        <div class="col">
                            {{ form.total_quantity.label(class="mr-4") }}
                            {{ form.total_quantity(class="form-control")}}
                        </div>

                        <div class="col">

                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </div>

             </form>
        </div>


    </div>


{% endblock %}