{% extends "base.html" %}
{% block title %}BOOKS{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    {{super()}}

    {% if result %}
    <div style="padding:15px">
        <table class="table table-striped">
            <thead>
                <tr class="row">
                    <th scope="col" class="col">Title</th>
                    <th scope="col" class="col">Author</th>
                    <th scope="col" class="col-1">Issue</th>
                    <th scope="col" class="col-1">Edit</th>
                    <th scope="col" class="col-1">Delete</th>
                </tr>
            </thead>
            <tbody>
             {% for book in result %}
                <tr class="row">
                  <th class="col">{{book.title}}</th>
                  <td class="col">{{book.author}}</td>
                  <td class="col-1"><a href={{url_for('transactions_bp.add_transaction',id=book.id)}}><button class="btn btn-primary">Issue</button></a></td>
                  <td class="col-1"><a href={{url_for('books_bp.edit_book',id=book.id)}}><button class="btn btn-success">Edit</button></a></td>
                  <td class="col-1"><a href={{url_for('books_bp.delete_book',id=book.id)}}><button type="button" class="btn btn-danger">
                      Delete
                  </button></a></td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
{% endblock %}