{% extends "base.html" %}
{% block title %}BOOKS{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    {{super()}}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% if result %}
    <div class="card w-50" style="margin-left:25%;margin-top:1%">
      <h5 class="card-header">BOOK</h5>
      <div class="card-body">
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                </tr>
            </thead>
            <tbody>
             {% for book in result %}
                <tr>
                  <th><a href="{{url_for('books_bp.get_book',id=book[0])}}">{{book[1]}}</a></th>
                  <td>{{book[2]}}</td>
                  <td>{{book[3]}}</td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
      </div>
    </div>



    {% endif %}

{% endblock %}