{% extends "base.html" %}
{% block title %}MEMBER{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{{super()}}
{% if result %}
<div style="padding:15px">
        <table class="table table-striped">
            <thead>
                <tr class="row">
                    <th scope="col" class="col">Member ID</th>
                    <th scope="col" class="col">Name</th>
                    <th scope="col" class="col">Contact</th>
                    <th scope="col" class="col">Email</th>
                    <th scope="col" class="col">DOB</th>
                    <th scope="col" class="col-1">View</th>
                    <th scope="col" class="col-1">Edit</th>
                    <th scope="col" class="col-1">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for member in result %}
                <tr class="row">
                  <th class="col">{{member.id}}</th>
                  <th class="col">{{member.name}}</th>
                  <td class="col">{{member.contact}}</td>
                  <td class="col">{{member.email}}</td>
                  <td class="col">{{member.dob}}</td>
                  <td class="col-1"><a href={{url_for('transactions_bp.view_transaction',id=member.id)}}><button class="btn btn-primary">View</button></a></td>
                  <td class="col-1"><a href={{url_for('members_bp.edit_member',id=member.id)}}><button class="btn btn-success">Edit</button></a></td>
                  <td class="col-1"><a href={{url_for('members_bp.delete_member',id=member.id)}}><button class="btn btn-danger">Delete</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}