{% extends "base.html" %}
{% block title %}MEMBER{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{{super()}}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% if result %}
<div class="card w-50" style="margin-left:25%;margin-top:1%">
  <h5 class="card-header">MEMBER</h5>
  <div class="card-body">
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>Member ID</th>
                    <th>Name</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                {% for member in result %}
                <tr>
                  <td>{{member[0]}}</td>
                  <th><a href="{{url_for('members_bp.get_member',id=member[0])}}">{{member[1]}}</a></th>
                  <td>{{member[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
  </div>
</div>

{% endif %}


{% endblock %}