{% extends "base.html" %}
{% block title %}MEMBER{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    {{super()}}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto" style="margin-right:65px;">
                        <li class="nav-item active">
                            <a class="btn  btn-primary" href={{url_for('members_bp.add_member')}} role="button">Add Member</a>
                        </li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0" action="{{url_for('members_bp.search_member')}}" method="POST">
                       {{form.search_title(class="form-control mr-1")}}
                        {{form.submit(class="btn btn-primary")}}
                    </form>

                </div>
            </nav>
        </div>

{% if not data %}
    <div class="alert alert-danger" role="alert">
    No Members found !
    </div>
{% endif %}

{% if data %}

<div class="card w-50" style="margin-left: 25%;margin-top: 1%;">
    <h5 class="card-header">Members</h5>
  <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Member ID</th>
                    <th>Name</th>
                    <th>Contact</th>

                </tr>
            </thead>
            <tbody>
                {% for member in data %}
                <tr>
                  <th>{{member.id}}</th>
                  <th><a href="{{url_for('members_bp.get_member',id=member.id)}}">{{member.name}}</a></th>
                  <th>{{member.contact}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
  </div>
</div>

{% endif %}
{% endblock %}
