{% extends "base.html" %}
{% block title %}MEMBER{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    {{super()}}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% if transactions %}
        <div class="card w-75" style="margin-left:12.5%;margin-top:1%">
          <h5 class="card-header">Transactions</h5>
          <div class="card-body">
                <table class="table table-striped">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Member ID</th>
                    <th>Book ID</th>
                    <th>Issue Date</th>
                    <th>Return Date</th>
                    <th>Fees</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions%}
                <tr>
                  <td>{{transaction.id}}</td>
                  <td>{{transaction.member_id}}</td>
                  <td>{{transaction.book_id}}</td>
                  <td>{{transaction.issue_date.strftime("%d-%m-%Y")}}</td>
                  <td>{{transaction.return_date.strftime("%d-%m-%Y")}}</td>
                  <td>{{transaction.fee}}</td>

                  <td>
                      {% if transaction.book_status == True %}
                      <a href={{url_for('transactions_bp.return_transaction',book_id=transaction.book_id, member_id=transaction.member_id)}}>
                          <button class="btn btn-primary">Return</button>
                      </a>

                      <a href={{url_for('transactions_bp.edit_transaction',t_id=transaction.id)}}>
                          <button class="btn btn-primary">Edit</button>
                      </a>
                      {% endif %}

                      {% if transaction.book_status == False %}
                        Returned
                      {% endif %}
                  </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
          </div>
        </div>
        {% endif %}

        {% if not transactions %}
            <h1>No transactions found !</h1>
        {% endif %}

{% endblock %}